{% extends 'core/base.html' %} {% load static %} {% block title %}Contact{% endblock title %} 



{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img
      class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
      src="img/contact.jpg"
      alt=""
    />
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Envíanos tus dudas</span>
              <span class="section-heading-lower">Contacto</span>
            </h2>

            {% if 'ok' in request.GET %}
            <p><b>Su mensaje se ha enviado correctamente, en breve nos comunicaremos</b></p>
            {% elif  'fail' in request.GET%}
            <p><b>Ha ocurrido un error, intente más tarde</b></p>
            {% endif %}



            {% comment %} <form action="" method="POST">
              {% csrf_token %}
              <table>
                {{contactForm.as_table}}
              </table>
              <input type="submit" value="Enviar" />
            </form>
            {{request.POST}} {% endcomment %}


            <!-- Formulario de contacto -->


            <form action='' method='POST'>
              {% csrf_token %}
              <div class="form-group">
                <label>Nombre *</label>
                <div class="input-group">
                  {{contactForm.name}}

                </div>
                {{contactForm.name.errors}}

              </div>
              <div class="form-group">
                <label>Email *</label>
                <div class="input-group">
                  {{contactForm.email}}

                </div>
                {{contactForm.email.errors}}

              </div>
              <div class="form-group">
                <label>Mensaje *</label>
                <div class="input-group">
                  {{contactForm.message}}

                </div>
                {{contactForm.message.errors}}
              </div>
              <div class="text-center">
                <input
                  type="submit"
                  class="btn btn-primary btn-block py-2"
                  value="Enviar"
                />
              </div>
            </form>

            <!-- Fin formulario de contacto -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
